# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Package

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout source code
        uses: actions/checkout@v6

      - name: Setup .NET 10
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'

      - name: Generate Java classes
        run: ./generate.sh

      - name: Set up JDK 17 and Maven Central auth
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          server-id: central
          server-username: SONATYPE_USERNAME
          server-password: SONATYPE_TOKEN
          gpg-private-key: ${{ secrets.JRELEASER_GPG_SECRET_KEY }}
          gpg-passphrase: ${{ secrets.JRELEASER_GPG_PASSPHRASE }}
          cache: maven

      - name: Build
        run: mvn --batch-mode -DskipTests package --file src/pom.xml

      - name: Load version into generated .properties file.
        run: mvn resources:resources --file src/pom.xml

      - name: Maven version check
        run: mvn -v

      - name: POM validator
        run: mvn org.kordamp.maven:pomchecker-maven-plugin:1.7.0:check-maven-central --file src/pom.xml

      - name: Build and deploy to Maven Central
        run: mvn deploy --batch-mode -Prelease -f src/pom.xml -Dgpg.passphrase="${{ secrets.JRELEASER_GPG_PASSPHRASE }}"
        env:
          SONATYPE_USERNAME: ${{ secrets.JRELEASER_NEXUS2_USERNAME }}
          SONATYPE_TOKEN: ${{ secrets.JRELEASER_NEXUS2_PASSWORD }}
          GPG_PRIVATE_KEY: ${{ secrets.JRELEASER_GPG_SECRET_KEY }}
          GPG_PASSPHRASE: ${{ secrets.JRELEASER_GPG_PASSPHRASE }}
          DATASET_ID: ${{secrets.INTEGRATIONTESTS_DATASET_ID}}
          API_KEY: ${{secrets.INTEGRATIONTESTS_API_KEY}}

      - name: Ingest new data in MCP server
        run: curl -X PUT -H "x-api-key:${{ secrets.MCP_INGESTION_API_KEY }}" -H "content-length:0" https://mcp.relewise.com/IngestDataSource/Java  
